html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  width: 30%;
  margin: 30px auto;
  border: 1px solid #1c1c1c;
}

/*---------------------------------------------*/
/*HEADINGS*/
/*---------------------------------------------*/
h1 {
  color: #1c1c1c;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  font-size: 8em;
  letter-spacing: 5px;
  padding: 200px 0 0 100px;
}

@media all and (max-width: 575px) {
  h1 {
    font-size: 4em;
    padding-left: 75px;
  }
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  font-size: 3em;
  color: #1c1c1c;
}

/*---------------------------------------------*/
/*NAVIGATION*/
/*---------------------------------------------*/
.navbar {
  background-color: #f8f4f3;
  height: 80px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-right: 20px;
  font-size: 16px;
}

@media all and (max-width: 991px) {
  .main-nav {
    font-size: 12px;
    float: none;
    text-align: center;
    margin-right: 0;
  }
}

.main-nav li {
  display: inline-block;
  padding-top: 20px;
  margin-left: 30px;
  font-size: 2em;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 5px 10px 10px 0;
  color: #1c1c1c;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: bold;
  margin-right: 10px;
}

@media all and (max-width: 575px) {
  .main-nav li a:link {
    font-size: 16px;
    margin-right: 5px;
  }
}

/*---------------------------------------------*/
/*MAIN*/
/*---------------------------------------------*/
.top-container {
  font-size: 16px;
  min-height: 100vh;
  background-color: #fff5ed;
}

.top-container h3 {
  font-family: 'Roboto', sans-serif;
  color: #1c1c1c;
  font-size: 3em;
  font-weight: 100;
  padding-top: 75px;
  margin-left: 200px;
}

@media all and (max-width: 991px) {
  .top-container {
    font-size: 12px;
  }
}

@media all and (max-width: 575px) {
  .top-container h3 {
    font-size: 2em;
    margin-left: 75px;
  }
}

/*---------------------------------------------*/
/*ABOUT*/
/*---------------------------------------------*/
.who-i-am {
  background-color: #f8f4f3;
  min-height: 100vh;
  text-align: center;
  background-size: cover;
  overflow: hidden;
}

@media all and (max-width: 575px) {
  .who-i-am {
    height: 100%;
  }
}

.who-i-am h2 {
  margin-top: 100px;
}

.who-i-am p {
  font-family: 'Roboto';
  font-weight: 300;
  width: 50%;
  margin: 50px auto;
  font-size: 20px;
  font-color: #1C1C1C;
}

@media screen and (max-width: 768px) {
  .who-i-am p {
    margin: 30px auto;
    font-size: 20px;
  }
}

@media all and (max-width: 575px) {
  .who-i-am p {
    font-size: 15px;
  }

  .who-i-am h2 {
    font-size: 2.5em;
  }
}

/*---------------------------------------------*/
/*WORK*/
/*---------------------------------------------*/
.my-work {
  min-height: 100vh;
  background-color: #FFFFFF;
  text-align: center;
}

@media all and (max-width: 575px) {
  .my-work {
    height: 100%;
  }
}

.my-work h2 {
  margin-bottom: 20px;
}

.my-work img {
  width: 100%;
  height: 100%;
}

.my-work img:hover {
  opacity: .7;
}

.my-work p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-top: 10px;
  color: #1c1c1c;
}

.container {
  display: flex;
	flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background-color: #e1efde;
}

.item {
  font-size: 0;
  line-height: 0;
  list-style: none;
  width: 33.33%;
}

@media screen and (max-width: 575px) {
  .item {
    width: 100%;
  }
}

.item a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.icons {
  width: 30em;
}

@media screen and (max-width: 768px) {
  .icons {
    width: 20em;
  }
}

@media screen and (max-width: 575px) {
  .icons {
    width: 15em;
    margin-bottom: 5em;
  }
}

/*---------------------------------------------*/
/*FOOTER*/
/*---------------------------------------------*/
.bottom-container {
  background-color: #fff5ed;
  text-align: center;
}

.bottom-container h3 {
  font-family: 'Roboto', sans-serif;
  color: #1c1c1c;
  font-size: 3em;
  font-weight: 100;
  padding: 30px 0 30px 0;
}

.btn {
  text-decoration: none;
  background: #FFFFFF;
  font-family: 'Roboto';
  font-size: 24px;
  color: #1c1c1c;
  letter-spacing: 2.3px;
  text-align: center;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #1c1c1c;
}

.copyright {
  color: #1c1c1c;
  font-size: 0.75rem;
  padding: 30px 0;
  font-family: 'Roboto';
}
