html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  width: 30%;
  margin: 30px auto;
}

/*---------------------------------------------*/
/*HEADINGS*/
/*---------------------------------------------*/
h1 {
  color: #e29696;
  font-family: 'Abril Fatface', cursive;
  font-weight: lighter;
  font-size: 8em;
  letter-spacing: 5px;
  padding: 200px 0 0 100px;
}

@media all and (max-width: 575px) {
  h1 {
    font-size: 4em;
    padding-left: 75px;
  }
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3em;
  color: #525252;
}

/*---------------------------------------------*/
/*NAVIGATION*/
/*---------------------------------------------*/
.navbar {
  background-color: #f7f7f7;
  height: 80px;
  border-bottom: 1px solid #e29696;
}

.main-nav {
  float: right;
  list-style: none;
  margin-right: 20px;
  font-size: 16px;
}

@media all and (max-width: 991px) {
  .main-nav {
    font-size: 12px;
    float: none;
    text-align: center;
    margin-right: 0;
  }
}

.main-nav li {
  display: inline-block;
  padding-top: 20px;
  margin-left: 30px;
  font-size: 2em;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 5px 10px 10px 0;
  color: #525252;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 100;
  margin-right: 10px;
}

@media all and (max-width: 575px) {
  .main-nav li a:link {
    font-size: 16px;
    margin-right: 5px;
  }
}

/*---------------------------------------------*/
/*MAIN*/
/*---------------------------------------------*/
.top-container {
  font-size: 16px;
  min-height: 100vh;
  background-color: #FDF2F2;
}

.top-container h3 {
  font-family: 'Roboto', sans-serif;
  color: #b03030;
  font-size: 3em;
  font-weight: 100;
  padding-top: 75px;
  margin-left: 200px;
}

@media all and (max-width: 991px) {
  .top-container {
    font-size: 12px;
  }
}

@media all and (max-width: 575px) {
  .top-container h3 {
    font-size: 2em;
    margin-left: 75px;
  }
}

/*---------------------------------------------*/
/*ABOUT*/
/*---------------------------------------------*/
.who-i-am {
  background-color: #fff;
  min-height: 100vh;
  text-align: center;
  background-image: url('../images/background.png');
  background-size: cover;
  overflow: hidden;
}

@media all and (max-width: 575px) {
  .who-i-am {
    height: 100%;
  }
}

.who-i-am h2 {
  margin-top: 50px;
}

.who-i-am p {
  font-family: 'Roboto';
  width: 50%;
  margin: 50px auto;
  font-size: 20px;
  color: #525252;
}

@media screen and (max-width: 768px) {
  .who-i-am p {
    margin: 30px auto;
    font-size: 20px;
  }
}

@media all and (max-width: 575px) {
  .who-i-am p {
    font-size: 15px;
  }

  .who-i-am h2 {
    font-size: 2.5em;
  }
}

/*---------------------------------------------*/
/*WORK*/
/*---------------------------------------------*/
.my-work {
  margin: 100px;
  min-height: 100vh;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 50px;
}

@media all and (max-width: 575px) {
  .my-work {
    height: 100%;
  }
}

.my-work h2 {
  margin-bottom: 20px;
}

.my-work img {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.my-work img:hover {
  opacity: .7;
}

.my-work p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-top: 10px;
  color: #525252;
}

.container {
  /* Flexbox fallback */
  display: flex;
	flex-wrap: wrap;
  justify-content: center;

  /* Grid implementation */
  display: grid;
  grid-gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.item {
  flex: 0 0 auto;
  flex-wrap: wrap;
  margin: 1rem;
  width: 20rem;
  min-width: 15rem;
}

@supports (display: grid) {
  .item {
    height: initial;
    margin: unset;
    width: initial;
    min-width: initial;
  }
}

.icons {
  width: 30em;
}

@media screen and (max-width: 768px) {
  .icons {
    width: 20em;
  }
}

@media screen and (max-width: 575px) {
  .icons {
    width: 15em;
    margin-bottom: 5em;
  }
}

/*---------------------------------------------*/
/*FOOTER*/
/*---------------------------------------------*/
.bottom-container {
  background-color: #FDF2F2;
  text-align: center;
  border-top: 1px solid #e29696;
}

.bottom-container h3 {
  font-family: 'Roboto', sans-serif;
  color: #EE5858;
  font-size: 3em;
  font-weight: 100;
  padding: 30px 0 30px 0;
}

.btn {
  text-decoration: none;
  background: #FFFFFF;
  font-family: 'Roboto';
  font-size: 24px;
  color: #EE5858;
  letter-spacing: 2.3px;
  text-align: center;
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
  border: 1px solid grey;
}

.copyright {
  color: #525252;
  font-size: 0.75rem;
  padding: 30px 0;
  font-family: 'Roboto';
}
